doctype html
html(lang='en', dir='ltr')
  head
    include partials/head.pug
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.1/css/fileinput.min.css')
    link(rel='stylesheet', href='/css/profile.css')
  body(class='text-center')
    div(class='cover-container d-flex h-100 p-3 mx-auto flex-column', style='width: 100%;')
      header(class='masthead')
        div(class='inner')
          h3(class='masthead-brand mb-3')
            a(href='/', class='masthome')
              i(class='fas fa-heart font-weight-light')
              |  NeckerLove
          nav(class='nav nav-masthead justify-content-center')
            a(href='/', class='nav-link') Home
            a(href='/account/profile', class='nav-link active') Profile
            form(action='/account/logout', method='post')
              button(type='submit', class='btn btn-outline-secondary link-login ml-3') Log out

      main(role='main', class='inner cover')
        form(id='form-profile', class='form-profile', action='/account/profile', enctype='multipart/form-data', method='post', novalidate, style='width: 100%; max-width: 330px; margin: auto;')
          div(id='kv-error-2')
          div(id='profileImage', class='form-group mt-1 mb-3 kv-avatar', style='display: block; display: none;')
            div(class='round p-1')
              input(type='file', name='inputImage', id='inputImage', class='', accept='image/*')
            //- div(class='text-white')
              small Select file &lt; 6 MB
          div(class='form-group')
            input(type='text', name='inputFirstName', id='inputFirstName', class='form-control', value=firstName, placeholder='First Name', autofocus, style='display: block; display: none;')
          div(class='form-group')
            input(type='text', name='inputLastName', id='inputLastName', class='form-control', value=lastName, placeholder='Last Name', style='display: block; display: none;')
          div(class='form-group')
            input(type='text', name='inputInterests', id='inputInterests', class='form-control', value=interests, placeholder='Interests', style='display: block; display: none;')
          div(class='form-group')
            select(name='inputState', id='inputState', class='custom-select', style='display: block; display: none;')
              option(value='', hidden) State
              if states
                each s in states
                  if s.code === state
                    option(value=s.code, selected) #{s.name}
                  else
                    option(value=s.code) #{s.name}
          button(type='submit', id='inputSubmit', class='btn btn-lg btn-primary btn-block text-white', style='display: block; display: none;') Save
          div(id='saved', class='alert alert-block alert-success mt-3', style='display: none;')
            b(class='text-center') Saved!
            button(type='button', class='close saved-close') &times;

      footer(class='mastfoot mt-auto')
        div(class='inner mt-3')
          p
            | Designed with no sleep by 
            a(href='http://jareddiehl.me') Jaredible

    include partials/scripts.pug
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.1/js/plugins/piexif.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.1/js/plugins/sortable.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.1/js/plugins/purify.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.1/js/fileinput.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.plugins.min.js')
    script(src='/js/profile.js')
